.main,
.main-head,
.main-search,
.main-info{
    border: .5px dotted rgba(0, 0, 0, .0);
    margin-bottom: 5px;
}

html,
body{
    height: 98%;
}

.bord{
    border: .5px dotted rgba(0, 0, 0, .5);
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 75%;
    max-width: 600px;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 5px;
}

.main-head{
    text-align: center;
    cursor: default;
}

.main-head > p{
    font-size: 35px;
    font-family:fantasy;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
}

.main-info{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 25px;
}

.main-info > span{
    font-weight: 400;
    margin: 5px 15px;
}

.edit-encrypt{
    display: flex;
    position: relative;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.edit{
    display: flex;
    position: relative;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.inputArea{
    width: 100%;
}

.main-footer{
    display: block;
    left: 0px;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-footer > span{
    font-size: 14px;
}





